In [1]:
import numpy as np
import pandas as pd
import math
from functools import reduce


##TODO add the link of each data with description of each column

###  [Alcohol Per Capita consumption (APC)](http://apps.who.int/gho/data/node.main.A1039?lang=en)

###  [Tobacco Use By Country]()

In [12]:
apc_raw = pd.read_csv('data/raw/APC_2010-2018.csv')
tobac_use_raw = pd.read_csv('data/raw/TobaccoUseByCountry_gte15.csv')
country_data = pd.read_csv('data/raw/CountriesOfTheWorld.csv')
tobac_cost_raw = pd.read_csv('data/raw/Tobacco_cost.csv')
tobac_ad_raw = pd.read_csv('data/raw/BanOnDirectAdvertising.csv')

## Tobac_use cleaning

In [13]:
tobac_use_raw.columns

Index(['Country', 'Year', ' Male', ' Female'], dtype='object')

In [14]:
tobac_use = tobac_use_raw.rename(columns={" Male": "Male", " Female": "Female"})
tobac_use = tobac_use.dropna()

In [15]:
def split_row(row):
    if isinstance(row, str):
        return float(row.split()[0])
    else:
        return row

In [16]:
tobac_use['Male'] = tobac_use['Male'].apply(split_row)
tobac_use['Female'] = tobac_use['Female'].apply(split_row)

In [17]:
tobac_use.drop(tobac_use[tobac_use['Year']>2019].index, inplace=True)

In [18]:
tobac_use.reset_index(inplace=True, drop=True)

In [20]:
tobac_use.reset_index(inplace=True)

In [21]:
tobac_use.head()

   index  Country  Year  Male  Female
0      0  Albania  2015  51.2     7.6
1      1  Albania  2012  52.1     8.2
2      2  Albania  2010  53.1     8.7
3      3  Albania  2005  54.7    10.1
4      4  Albania  2000  56.9    11.6

In [93]:
tobac_use['Country'] = tobac_use['Country'].map(lambda x: x.strip())

In [94]:
tobac_use.to_csv('data/tobac_use_by_country.csv', index=False)

## Tobacco Cost cleaning

In [23]:
tobac_cost = tobac_cost_raw.rename(columns={"Premium brand of cigarettes - currency reported": "currency",
                                       "Premium brand of cigarettes - price in currency reported": "price in currency",
                                       "Premium brand of cigarettes - price in international dollars": "price in international $",
                                       "Premium brand of cigarettes - price in US$ at official exchange rates": "price in US$"})

In [24]:
tobac_cost = tobac_cost.dropna()

In [25]:
cols = ['currency', 'price in currency',
       'price in international $', 'price in US$']

not_avail = tobac_cost[tobac_cost[cols].eq('Not available').any(axis=1)]
tobac_cost.drop(not_avail.index, inplace=True)

In [26]:
tobac_cost.reset_index(inplace=True, drop=True)
tobac_cost.reset_index(inplace=True)

In [27]:
tobac_cost.head()

,index,Country,Year,currency,price in currency,price in international $,price in US$
0,0,Afghanistan,2014,AFN,100.00,2.95,1.73
1,1,Albania,2014,ALL,270.00,5.23,2.60
2,2,Algeria,2014,DZD,150.00,2.53,1.91
3,3,Angola,2014,AOA,200.00,2.18,2.06
4,4,Antigua and Barbuda,2014,XCD,8.00,3.99,2.96

In [95]:
tobac_cost['Country'] = tobac_cost['Country'].map(lambda x: x.strip())

In [96]:
tobac_cost.to_csv('data/tobac_cost.csv', index=False)

## APC cleaning

In [29]:
beverages = [' Beer', ' Wine', ' Spirits', ' Other alcoholic beverages']

In [31]:
apc_raw.head()

,Country,Data Source,Beverage Types,2016,2015,2014,2013,2012,2011,2010
0,Afghanistan,Data source,All types,NaN,0.02,0.03,0.03,0.04,0.04,0.03
1,Afghanistan,Data source,Beer,NaN,0.01,0.01,0.01,0.01,0.01,0.01
2,Afghanistan,Data source,Wine,NaN,0.00,0.00,0.00,0.00,0.00,0.00
3,Afghanistan,Data source,Spirits,NaN,0.02,0.02,0.02,0.03,0.03,0.02
4,Afghanistan,Data source,Other alcoholic beverages,NaN,0.00,0.00,0.00,0.00,0.00,0.00

In [32]:
apc_raw = apc_raw[~apc_raw['Beverage Types'].isin(beverages)]

In [33]:
apc_data = apc_raw.drop(['Data Source', 'Beverage Types'], axis=1)

In [34]:
apc_data = apc_data.dropna()

In [35]:
apc_data.reset_index(inplace=True, drop=True)
apc_data.reset_index(inplace=True)

In [36]:
apc_data.head()

   index  Country   2016  2015  2014  2013   2012   2011   2010
0      0  Albania   5.07  4.77  4.81  5.06   5.43   5.65   5.53
1      1  Algeria   0.56  0.56  0.56  0.54   0.49   0.44   0.39
2      2  Andorra  10.06  9.97  9.95  9.78  10.06  10.31  10.64
3      3   Angola   4.70  5.65  9.00  8.02   8.14   7.86   7.67
4      4  Armenia   3.77  3.84  3.97  3.72   3.84   4.06   4.23

In [97]:
apc_data['Country'] = apc_data['Country'].map(lambda x: x.strip())

In [98]:
apc_data.to_csv('data/apc_data.csv', index=False)

## Tobac ad cleaning

In [38]:
# tobac_ad_raw.rename(columns={})

In [39]:
# tobac_ad_ban = tobac_ad_raw.rename(columns={})

## Country data

In [41]:
# country_data.columns

In [42]:
gdp_data = country_data[['Country', 'Population', 'GDP ($ per capita)']]

In [43]:
gdp_data['Country'] =  gdp_data['Country'].apply(lambda x: x.strip())

/home/emad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [44]:
gdp_data.reset_index(inplace=True, drop=True)
gdp_data.reset_index(inplace=True)

In [99]:
gdp_data['Country'] = gdp_data['Country'].map(lambda x: x.strip())

/home/emad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
gdp_data.to_csv('data/gdp_data.csv', index=False)

## Merging different datasets based on country
    
    The name of countries are not the same over different datasets.
    
    - Preparing a list of countries with same names

### Unifiying countries name

In [101]:
cost_countries = tobac_cost['Country'].unique()
use_countries = tobac_use['Country'].unique()
apc_countries = apc_data['Country'].unique()
gdp_countries = gdp_data['Country'].unique()
print(f"Number of countries in tobacco use table: {len(use_countries)}")
print(f"Number of countries in tobacco cost table: {len(cost_countries)}")
print(f"Number of countries in APC table: {len(apc_countries)}")
print(f"Number of countries in GDP table: {len(gdp_countries)}")

Number of countries in tobacco use table: 127
Number of countries in tobacco cost table: 173
Number of countries in APC table: 93
Number of countries in GDP table: 227

In [103]:
same_countries = reduce(np.intersect1d, (cost_countries, use_countries, apc_countries, gdp_countries)) 
print(f"Number of countries with same names: {len(same_countries)}")

Number of countries with same names: 62

In [82]:
cost_diff = cost_countries[np.isin(cost_countries, same_countries, invert=True)]

In [83]:
use_diff = use_countries[np.isin(use_countries, same_countries, invert=True)]

In [84]:
apc_diff = apc_countries[np.isin(apc_countries, same_countries, invert=True)]

In [85]:
gdp_diff = gdp_countries[np.isin(gdp_countries, same_countries, invert=True)]

In [138]:
for c in use_diff:
    print(c)

Andorra
Argentina
Austria
Bangladesh
Barbados
Belgium
Benin
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Brunei Darussalam
Burkina Faso
Cabo Verde
Cameroon
Chile
Comoros
Congo
Cuba
Czechia
Eswatini
Ethiopia
Fiji
Ghana
Haiti
Hungary
Iran (Islamic Republic of)
Japan
Kenya
Kiribati
Lao People's Democratic Republic
Lesotho
Liberia
Malawi
Mali
Mauritania
Mauritius
Mongolia
Morocco
Myanmar
Namibia
Nauru
Nepal
Netherlands
Niger
Nigeria
Niue
Republic of Korea
Republic of Moldova
Romania
Russian Federation
Samoa
Saudi Arabia
Senegal
Seychelles
Sierra Leone
Sri Lanka
Thailand
Tonga
Uganda
United Kingdom of Great Britain and Northern Ireland
United Republic of Tanzania
United States of America
Uruguay
Viet Nam
Zambia
Zimbabwe

In [135]:
# print("Countries in apc but not in use_countries")
# for c in apc_countries[np.isin(apc_countries, np.intersect1d(use_countries, apc_countries), invert=True)]:
#     print(c)

In [136]:
# print("Countries in cost but not in use_countries")
# for c in cost_countries[np.isin(cost_countries, np.intersect1d(use_countries, cost_countries), invert=True)]:
#     print(c)

In [137]:
# print("Countries in gdp but not in use_countries")
# for c in gdp_countries[np.isin(gdp_countries, np.intersect1d(use_countries, gdp_countries), invert=True)]:
#     print(c)

In [ ]:
cost_map_countries = {:"Congo",}

In [ ]:
gdp_map_countries = {"Bolivia": "Bolivia (Plurinational State of)", 
                     "Bosnia & Herzegovina":"Bosnia and Herzegovina",
                    "Brunei": "Brunei Darussalam",
                    "Cape Verde": "Cabo Verde",
                    "Czech Republic": "Czechia",
                    "Iran": "Iran (Islamic Republic of)",
                    "United Kingdom": "United Kingdom of Great Britain and Northern Ireland"}

In [ ]:
# gdp_tobac_use = pd.merge(gdp_data, tobac_use, on='Country')

In [ ]:
# gdp_tobac_use = gdp_tobac_use.rename(columns={"Male": "Male Tobacco Use%", "Female": "Female Tobacco Use%"})

In [ ]:
# gdp_tobac_use[gdp_tobac_use['Country']=='Germany']

In [74]:
# gdp_tobac_use.plot.scatter(x='GDP ($ per capita)',
#                            y='Male Tobacco Use%')

In [ ]:
# Make csv of clean data.
# tobac_use.to_csv('data/Clean_Data/cl-tobac-use.csv')
# tobac_cost.to_csv('data/Clean_Data/cl-tobac-cost.csv')
# gdp_data.to_csv('data/Clean_Data/cl-gdp-data.csv')