# Significance Test

to check if the difference of values over years is statistically significant or random.
### Null Hypothesis: 
There is no statistically significant difference between values over years.
### Alternative Hypothesis: 
There is statistically significant difference between values over years.

#### Friedman statistical test: 
As we don't have information about the distribution of data, ranking-based tests are used.

Multiple number of parameters to test (years here) makes us to choose Friedman test instead Wilcoxson test.

In the case of normal distribution we can use ANOVA test. 

Pairwise posthoc test is not necessary, as we just want to check the significance and not to extract the most or least extreme values.

In [2]:
import numpy as np
import warnings
import pandas as pd
from scipy.stats import friedmanchisquare
warnings.filterwarnings('ignore') # Just to mute warnings, if you like you can comment this line.

In [3]:
df = pd.read_csv('data/Clean_Data/cl-tobac-use.csv')

In [4]:
df.head()

   Unnamed: 0  Country  Year  Male  Female
0           2  Albania  2015  51.2     7.6
1           3  Albania  2012  52.1     8.2
2           4  Albania  2010  53.1     8.7
3           6  Albania  2005  54.7    10.1
4           9  Albania  2000  56.9    11.6

In [5]:
df['Year'].unique()

array([2015, 2012, 2010, 2005, 2000])

In [14]:
df_2015 = df[df['Year'] == 2015]
df_2012 = df[df['Year'] == 2012]
df_2010 = df[df['Year'] == 2010]
df_2005 = df[df['Year'] == 2005]
df_2000 = df[df['Year'] == 2000]

In [10]:
data = df.to_numpy()
trans_data = data.transpose()
trans_data
data

array([[2, 'Albania', 2015, 51.2, 7.6],
       [3, 'Albania', 2012, 52.1, 8.2],
       [4, 'Albania', 2010, 53.1, 8.7],
       ...,
       [1167, 'Zimbabwe', 2010, 31.8, 2.4],
       [1168, 'Zimbabwe', 2005, 32.5, 2.7],
       [1169, 'Zimbabwe', 2000, 33.5, 3.1]], dtype=object)

In [7]:
alpha = 0.05
#Friedman Test.
stat, p = friedmanchisquare(data[0], data[1], data[2], data[3], data[4], data[5], data[6], data[7])
print('Statistics=%.3f, p=%.3f' % (stat, p))